<div class="task">
  <p>
    <%= f.hidden_field :id, :name => name_to(:id) %>
    <%= f.label :name, "Task name" %>
    <%= f.text_field :name, :name => name_to(:name) %>
    <%= remove_task_link %>
  </p>
</div>
