<h1>New list</h1>

<% form_for [current_user, @list] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'All lists', user_lists_path(@list.user_id) %>
<%= link_to 'Dashboard', dashboard_path %>
